HeaderFilterRegex: '.*'

Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  readability-*,
  performance-*,
  cppcoreguidelines-*,
  misc-*,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-macro-to-enum,
  -misc-header-include-cycle,
  -performance-avoid-endl,
  -bugprone-easily-swappable-parameters,
  -misc-include-cleaner,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-type-vararg,
  -misc-no-recursion,
  -cppcoreguidelines-special-member-functions,  
  -cppcoreguidelines-pro-type-cstyle-cast,
  -performance-no-int-to-ptr,
  -cppcoreguidelines-avoid-const-or-ref-data-members,

WarningsAsErrors: '*'
FormatStyle: file

