HeaderFilterRegex: '.*'
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  readability-*,
  performance-*,
  cppcoreguidelines-*,
  misc-*,
  -readability-implicit-bool-conversion

WarningsAsErrors: '*'
FormatStyle: file
