Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  readability-*,
  performance-*,
  hicpp-*,
  cppcoreguidelines-*,
  misc-*,
  -readability-implicit-bool-conversion,
  -readability-identifier-length,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'


