/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
 */


body {
	font-family: 'Roboto', sans-serif;
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	position: relative;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.title {
	color: white;
	font-size: 2rem;
	text-align: center;
	border: 2px solid black;
	padding: 1rem;
	border-radius: 10px;
	background-color: lightblue;
	margin-bottom: 20px;
}

p {
	text-align: left;
	font-size: 16px;
}

.navbar {
	height: 50px;
	padding: 0;
	margin: 0;
	position: absolute;
}

.navbar li {
	height: auto;
	width: 135.8px;
	float: left;
	text-align: center;
	list-style: none;
	padding: 10px;
	margin: 20px;
	border: 2px solid black;
	background-color: lightblue;
	border-radius: 10px;
}

.navbar a {
	padding: 18px 0;
	text-decoration: none;
	color: black;
	display: block;
}

.navbar a:hover {
	background-color: #f4f4f4;
	border-radius: 10px;
	color: black;
}