body {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	/* height: 100vh; */
	background-color: #283F3B;
	font-family: Arial, sans-serif;
}
#board {
	margin-top: 5rem;
	display: grid;
	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);
	gap: 10px;
}
.cell {
	width: 100px;
	height: 100px;
	background-color: #E5E5E5;
	color: #7A4500;
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 5px;
}
#message {
	font-size: extra-large;
	margin-top: 20px;
	color: #E5E5E5;
	font-weight: bold;
}